{% extends 'base.twig' %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header" data-toggle="collapse" href="#scelta-pagina">
            <h6>Scelta Pagina</h6>
        </div>
        <div class="card-body collapse" id="scelta-pagina">
            <form method="post" class="form-ajax" action="" method="post">

                <div class="form-group">
                    <label>Scegli l'homepage</label>
                    <select class="form-control" name="pagina_id">
                        {% for pagina in pagine %}
                            <option value="{{ pagina.id }}" {{ homepage.pagina_id == pagina.id ? "selected" : '' }}>{{ pagina.title }}</option>
                        {%  endfor %}
                    </select>
                </div>



                <button type="submit" class="btn btn-sm btn-primary">Salva</button>

                <a href="" class="btn btn-sm btn-info">Modifica pagina</a>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header" data-toggle="collapse" href="#override-meta">
            <h6>Override meta</h6>
        </div>
        <div class="card-body collapse" id="override-meta">
            <form method="post" class="form-ajax" action="" method="post">


                <div class="form-group">
                    <label>Sovrascrivi meta title</label>
                    <input type="text" name="meta_title" class="form-control" value="{{ homepage.meta_title }}">
                </div>

                <div class="form-group">
                    <label>Sovrascrivi meta description</label>
                    <textarea class="form-control" name="meta_description">{{ homepage.meta_description }}</textarea>
                </div>

                <button type="submit" class="btn btn-sm btn-primary">Salva</button>


            </form>
        </div>
    </div>

</div>

{% endblock %}