


<input type="hidden" name="spedizione[id_cliente]" value="{{ cliente.id }}">



{% if indirizzoSpedizione %}
    <input type="hidden" name="spedizione[id]"  value="{{ indirizzoSpedizione.id }}">
{% endif %}

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" name="spedizione[nome]" class="form-control" value="{{ indirizzoSpedizione.nome }}">
        </div>
    </div>

    <div class="col-6">
        <div class="form-group">
            <label>Cognome</label>
            <input type="text" name="spedizione[cognome]" class="form-control" value="{{ indirizzoSpedizione.cognome }}">
        </div>
    </div>
</div>


<div class="row">
    <div class="col-5">
        <div class="form-group">
            <label>Via / Piazza</label>
            <input type="text" name="spedizione[via]" class="form-control" value="{{ indirizzoSpedizione.via }}">
        </div>
    </div>

    <div class="col-1">
        <div class="form-group">
            <label>Numero</label>
            <input type="text" name="spedizione[numero]" class="form-control" value="{{ indirizzoSpedizione.numero }}">
        </div>
    </div>

    <div class="col-3">
        <div class="form-group">
            <label>Città</label>
            <input type="text" name="spedizione[citta]" class="form-control" value="{{ indirizzoSpedizione.citta }}">
        </div>
    </div>

    <div class="col-3">
        <div class="form-group">
            <label>Provincia</label>
            <select name="spedizione[id_provincia]" class="form-control">
                {% for provincia in provincieDisponibili %}
                    <option value="{{ provincia.id }}" {{ indirizzoSpedizione.id_provincia == provincia.id ? "selected" : "" }}>{{ provincia.name }}</option>
                {% endfor %}
            </select>

        </div>
    </div>

</div>


<input type="submit" class="btn btn-secondary" value="Salva indirizzo">