
            <div class="row">

                <div class="col-12 p-5">

                    <h2>Scegli il colore</h2>
                    {% for combinazione in combinazioni %}
                        <form method="post" action="/carrello/aggiungi" data-index="{{ loop.index-1 }}">
                            <input type="hidden" name="id_variante" value="{{ variante.id }}" >
                            <input type="hidden" name="quantita" value="1">
                            {% for valore in combinazione %}
                                <input type="hidden" name="attributi[{{ valore.id_ecommerce_attributo }}]" value="{{ valore.id }}">
                            {% endfor %}
                        </form>
                    {% endfor %}
                    
                    {% for combinazione in combinazioni %}
                            <label class="label-scelta-variante" data-index="{{ loop.index-1 }}">
                                <img src="/media/tessuti/{% for valore in combinazione %}attr{{ valore.id_ecommerce_attributo }}_val{{ valore.id }}{% endfor %}.jpg">
                                <span>{% for valore in combinazione %}{{ valore.valore }} {% endfor %}</span>

                            </label>
                    {% endfor %}

                </div>

            </div>


