{% extends "base/template.twig" %}

{% block content %}


    <main id="scheda-prodotto">


        <div class="row">
            <div class="carousel-container-preview">
                <div class="owl-carousel owl-theme scheda-prodotto-carousel mb-5" data-nav>
                    {% for immagine in prodotto.images %}
                        <img src="{{ immagine.permalink }}">
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 pt-5 descrizione-generale">
                <h2 class="product-name mt-5 pt-5">{{ prodotto.nome }}</h2>
                <p>
                    Codice prodotto :
                </p>
                <div>
                    {{ prodotto.descrizione|raw }}
                </div>
            </div>
        </div>



        <div class="container">

            <div>


                <div class="row mt-5">
                    <div class="col-md-8">
                        <h2>Prodotti disponibili : </h2>

                        {% for variante in prodotto.varianti %}
                            <div class="card variante mb-5">
                                <div class="aggiunta-al-carrello">
                                    <span>Aggiunta del prodotto al carrello</span>
                                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                                </div>

                                <div class="card-header">
                                    <h3>{{ variante.nome }}</h3>
                                </div>
                                <div class="card-body">
                                    <form method="post" action="/carrello/aggiungi">
                                        <input type="hidden" name="id_variante" value="{{ variante.id }}">
                                        <input type="hidden" name="quantita" value="1">

                                        <div class="row">
                                            <div class="col-2">
                                                <img src="{{ variante.images[0].permalink }}">
                                            </div>


                                            <div class="col-6">
                                                {{ variante.descrizione }}
                                            </div>
                                            <div class="col-4">


                                                <div>
                                                    {% for attributo in variante.attributi %}
                                                        <b>{{ attributo.attributo.nome }}</b> :{{ attributo.valore.valore }}
                                                    {% endfor %}
                                                </div>





                                            </div>

                                        </div>


                                    </form>


                                    <div class="azioni-iniziali">
                                        <hr>
                                        <div class="text-right">

                                            <a href="" class="btn btn-white  "><i class="fa fa-info-circle"></i> Informazioni aggiuntive </a>

                                            <a href="{{ router_service.getRoute("frontend.ecommerce.schedaprodotto.variante").build({
                                                slug : prodotto.slug,
                                                "slug-variante" : variante.sku
                                            }) }}" class="btn btn-secondary vedi-variante"><i class="fa fa-cart-plus"></i> Scegli colore e aggiungi al carrello </a>


                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">

                                </div>


                                <div class="card-body azioni-finali">
                                    <hr>
                                    <div class="text-left">

                                        <a href="" class="btn btn-white  annulla-scelta-variante"> Annulla </a>

                                        <!--<a href="{{ router_service.getRoute("frontend.ecommerce.schedaprodotto.variante").build({
                                            slug : prodotto.slug,
                                            "slug-variante" : variante.sku
                                        }) }}" class="btn btn-secondary vedi-variante"><i class="fa fa-cart-plus"></i> Aggiungi al carrello </a>
-->

                                    </div>
                                </div>

                            </div>
                        {%  endfor %}
                    </div>
                    <div class="col-md-4 descrizione-generale">

                    </div>
                </div>




            </div>




        </div>
    </main>



    <div class="modal-variante">


    </div>
{% endblock %}



{% block scripts %}

    <script>
    (function($){
        $(".vedi-variante").on("click",function( e ){
            e.preventDefault();
            l = $(this).attr("href");

            $(this).closest(".card").find(".card-footer").load(l,function(){
                $(this).addClass("open");
                $(this).closest(".card").addClass("scegliendo-variante");
                $("body").addClass("scegliendo-variante");

                o = $(this).closest(".card").offset();

                console.log(o);

                $("body,html").animate({
                    scrollTop : o.top - $(window).height() / 2 + $(this).closest(".card").height() / 2
                })

            })

        })

        $(".annulla-scelta-variante").on("click",function( e ){
            e.preventDefault();
            $(".scegliendo-variante").removeClass("scegliendo-variante");
            $(".card-footer").removeClass("open");
        });




        $(window).on("scroll",function(){
            scroll = $(window).scrollTop();

            diff = $(".descrizione-generale").height() - $(window).height();
            diffScroll = $(".descrizione-generale").height() - ($(window).height() + scroll);

            if(diffScroll > -200){
                $(".descrizione-generale").css({

                    "top" : -(-diffScroll + diff),

                })
            }else{
                $(".descrizione-generale").css({

                    "top" : -(200 + diff),

                })
            }

            console.log( diff )
        })


        function resizeSchedaProdotto(){
            wc = $(".col-md-8").width();
            wc4 = $(".col-md-4").width();
            wcc = $("main > .container").width();


            wlato = ($(window).width() - wcc) / 2;

            $(".carousel-container-preview").css({
                "width" : (wlato + wc) + 15
            });

            $(".descrizione-generale").css({
                "position": "fixed",
                "top" : 0,
                "left" : (wlato + wc) + 15,

            })


            $('.scheda-prodotto-carousel').each(function(){
                var n = $(this).attr("data-n");
                if(n == undefined ) n =1;

                var nav =false;
                if( $(this).attr("data-nav")!== undefined ){
                    nav = true;
                }
                $(this).owlCarousel({
                    loop:true,
                    margin:10,
                    nav:nav,
                    items:n
                });
            });

        }

        $(window).on("resize",function () {
            resizeSchedaProdotto()
        });
        resizeSchedaProdotto()


        $(document).on("click",".label-scelta-variante",function(){
            footer = $(this).closest(".card-footer");
            index = $(this).index("label");

            $(this).closest(".card").addClass("loading");
            footer.find('form[data-index="'+index+'"]').submit();

        })
    })(jQuery);
    </script>
{% endblock %}