{% extends "base/template.twig" %}

{% block content %}

    <section class="container"   >
        <div class="row" style="flex-direction: row-reverse">
            <div class="col-md-9">

            </div>

            <aside class="col-md-3">
                {% for tassonomia in tassonomie %}

                {% set key = loop.index %}
                <div class="panel">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#taxonomy<?=$key?>"><span class="arrow-down">+</span><span class="arrow-up">-</span> {{ tassonomia.name }} </a>
                    </div>
                    <div id="#taxonomy<?=$key?>" class="panel-collapse in">
                        <div class="panel-body">

                            <a href="/shop/<?=$key?>" class="btn btn-small btn-default" data-slug="<?=$k?>">
                                Vedi tutti

                            </a>
                            <br>
                            <br>
                            <ul class="simple-list check-list">

                                {% for slugcategoria,categoria in tassonomia.children %}



                                    <li class="{{ categoriaCorrente == slugcategoria ? 'active' : '' }}" >
                                        <a href="{{ urlManager.frontend("shopMatrimonio",{'categoria' : slugcategoria }) }}" data-slug="<?=$k?>" ng-click="addFilter($event,'taxonomies','<?=$key?>','<?=$cat['filter'][$key]?>',true)">

                                            {{ categoria.name }}
                                        </a>
                                    </li>
                                {% endfor %}


                            </ul>




                        </div>
                    </div>


                    {% endfor %}
            </aside>
        </div>
    </section>
    {#



    {% set prodotti = ricerca.products %}

    <script>
        window.startFilters = JSON.parse('{{ ricerca.filters|json_encode|raw }}');

        window.taxonomies = JSON.parse('{{ tassonomie|json_encode|raw }}');

        window.aggregations = JSON.parse('{{ ricerca.aggregations|json_encode|raw }}');

        window.paginazione = JSON.parse( '{{ ricerca.paginazione|json_encode|raw }}');

        window.baseUrl = '/shop';

    </script>




    <div class="bg-dot hh2"></div>

    <!-- Two columns content -->
    <section class="container"   >
        <div class="row" style="flex-direction: row-reverse">
            <!-- Right column -->
            <section class="col-sm-8 col-md-9 col-lg-10 content-center p-b3 float-right">
                <div class="row category-banners">

                    {% if infoCategoria.visualizzazione == 'unacolonna' %}
                        <div class="">
                            <a href="#" title="category"><img id="img1" src="<?= $infoCategoria->immagine1->permalink ?>" alt=""
                                                              class="img-responsive"></a>
                        </div>
                    {% else %}
                        <div class="col-xs-6">
                            <a href="#" title="category"><img id="img1" src="<?= $infoCategoria->immagine1->permalink ?>" alt=""
                                                              class="img-responsive"></a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" title="category"><img id="img2" src="<?= $infoCategoria->immagine2->permalink ?>" alt=""
                                                              class="img-responsive"></a>
                        </div>
                    {% endif %}

                </div>
                <div class="divider divider-lg">
                </div>
                <h1 id="titolo-categoria">{{ infoCategoria.descrizione_breve }}</h1>
                <!-- Description -->
                <div id="descrizione-categoria">
                    {{  infoCategoria.descrizione|raw }}

                </div>
                <!-- //end Description -->
                <!-- Filters -->
                <div class="filters-panel">
                    <div class="row">
                        <div class="col-sm-3 col-md-6 col-lg-2 hidden-xs">
                            <div class="view-mode">
                                <a href="" class="view-grid icon flaticon-tiles" ng-class="{'active' : visualizzazione == 'griglia'}" ng-click="visualizzazione='griglia'"></a>

                                <a href="" class="view-list icon flaticon-menu29" ng-class="{'active' : visualizzazione == 'lista'}" ng-click="visualizzazione='lista'"></a>
                            </div>



                        </div>

                        <div class="col-sm-3 col-md-3 col-lg-4 hidden-xs">

                            <div class="btn-group btn-select perpage-select">
                                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="value">{{paginazione.per_page}} per pagina</span>
                                    <span class="caret min"></span></a>

                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="cambiaPerPage(6)">6 per pagina</a></li>
                                    <li><a href="" ng-click="cambiaPerPage(12)">12 per pagina</a></li>
                                    <li><a href="" ng-click="cambiaPerPage(18)">18 per pagina</a></li>
                                    <li><a href="" ng-click="cambiaPerPage(30)">30 per pagina</a></li>

                                </ul>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <?=$this->template_part("parti/shop/paginazione",$item['ricerca']['paginazione']);?>
                        </div>

                    </div>
                </div>
                <!-- //end Filters -->
                <!-- Listing products -->

                <div class="products-list" ng-if="!ajaxNav" ng-class="{'products-list-in-column' : visualizzazione == 'griglia','products-list-in-row' : visualizzazione == 'lista'}">
                    {% for prodotto in prodotti %}
                        {% include 'parti/shop/product-thumb.twig' with prodotto %}
                    {% endfor%}
                </div>

                <div class="products-list" ng-if="ajaxNav" ng-class="{'products-list-in-column' : visualizzazione == 'griglia','products-list-in-row' : visualizzazione == 'lista'}">

                    {% include 'parti/shop/product-thumb-angular.twig' with {'ngRepeat' : "products" } %}

                </div>

                <!-- product view ajax container -->
                <div class="product-view-ajax-container">
                </div>
                <!-- //end product view ajax container -->
                <!-- Product view compact -->
                <div class="product-view-ajax">
                    <div class="layar">
                    </div>
                    <div class="product-view-container">
                    </div>
                </div>
                <!-- //end Product view compact -->
                <!-- //end Listing products -->
                <!-- Filters -->
                <div class="filters-panel" >
                    <div class="row">

                        <div class="col-sm-3 col-md-3 col-lg-8 hidden-xs">

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <?=$this->template_part("parti/shop/paginazione",$item['ricerca']['paginazione']);?>
                        </div>
                    </div>
                </div>
                <!-- //end Filters -->
            </section>
            <!-- //end Right column -->







            <!-- Left column -->
            <aside class="col-sm-4 col-md-3 col-lg-2 content-aside filtri-shop float-left" ng-class="{'aperti' : filtriAperti}">
                <a href="" class="btn btn-cool visible-xs" ng-click="toggleFiltri()">{{filtriAperti ? 'Chiudi filtri' : 'Apri filtri'}}</a>


                <div class="panel-group accordion-simple">
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#ricerca"><span class="arrow-down">+</span><span class="arrow-up">-</span> Ricerca </a>
                        </div>
                        <div id="#ricerca" class="panel-collapse in">
                            <div class="panel-body">
                                <div class="filtri-shop-query">
                                    <a href="" class="do-search"></a>
                                    <form ng-submit="aggiornaRicerca()">
                                        <input type="text" class="form-control" name="quantity" placeholder="Ricerca libera" ng-model="queryRicerca" ng-blur="aggiornaRicerca()">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php



{{ dump(tassonomie) }}

            {% for tassonomia in tassonomie %}

                {% set key = loop.index %}
                <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#taxonomy<?=$key?>"><span class="arrow-down">+</span><span class="arrow-up">-</span> {{ tassonomia.name }} </a>
                        </div>
                        <div id="#taxonomy<?=$key?>" class="panel-collapse in">
                            <div class="panel-body">

                                <a href="/shop/<?=$key?>" class="btn btn-small btn-default" data-slug="<?=$k?>">
                                    Vedi tutti

                                </a>
                                <br>
                                <br>
                                <ul class="simple-list check-list">

                                    {% for slugcategoria,categoria in tassonomia.children %}



                                        <li class="{{ categoriaCorrente == slugcategoria ? 'active' : '' }}" >
                                            <a href="{{ urlManager.frontend("shopMatrimonio",{'categoria' : slugcategoria }) }}" data-slug="<?=$k?>" ng-click="addFilter($event,'taxonomies','<?=$key?>','<?=$cat['filter'][$key]?>',true)">

                                                {{ categoria.name }}
                                               </a>
                                        </li>
                                    {% endfor %}


                                </ul>




                            </div>
                        </div>


                {% endfor %}


                {% for proprietain in proprieta %}


                    {% set key = loop.index %}
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#property<?=$key?>"><span class="arrow-down">+</span><span class="arrow-up">-</span> {{ proprietain.name }} </a>
                        </div>
                        <div id="#property{{ key }}" class="panel-collapse in">

                            <div class="panel-body filtri-{{  proprietain.name|lower}}">
                                <ul class="simple-list check-list">

                                    {% for categoria in proprietain.values %}


                                    <li class="{{ proprietain.name|lower }}-{{ categoria.name|lower }}" ng-disabled="!filters.product_properties['{{ key }}'].values['{{ categoria.filter[key] }}'].count" ng-class="{'active' : filters.product_properties['{{ key }}'].values['{{ categoria.filter[key] }}'].selected}">


                                        <a   ng-click="addFilter($event,'product_properties','{{ key }}','{{ loop.index }}')" href="<?=$_GET['query']?>?<?=$key?>=<?=$k?>">

                                            <span class="name">{{ categoria.name }}</span>


                                            <span class="count">
                                                {{ "
												{{filters.product_properties['<?=$key?>'].values['<?=$cat['filter'][$key]?>'].count
                                                ? filters.product_properties['<?=$key?>'].values['<?=$cat['filter'][$key]?>'].count
                                                : 0}}
                                                "}}
									</span>
                                        </a></li>

                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>


                {% endfor %}

                </div>
            </aside>
            <!-- //end Left column -->
        </div>
    </section>


#}

{% endblock %}