{% extends "base/template.twig" %}


{% block content %}
    <main class="checkout">
        {% include "ecommerce/checkout/parti/steps.twig" %}
        <div class="container">

            <div class="row">

                <div class="col-md-8">
                    <h2>Scegli il metodo ed effettua il pagamento</h2>

                    <div id="accordion">
                        {% for metodo in metodiDiPagamento %}
                            <div class="card mb-2">
                                <div class="card-body pl-4 pr-4">
                                    <div class="row" data-toggle="collapse" data-target="#metodo{{ metodo.id }}">
                                        <div class="col">
                                            <label>{{ metodo.label }}</label>
                                        </div>

                                        <div class="col text-right">

                                            <strong>
                                                {% if metodo.prezzo %}+ {{ metodo.prezzo }}€
                                                {% else %}
                                                    <!-- Gratis -->
                                                {% endif %}
                                            </strong>

                                        </div>
                                    </div>

                                    <div id="metodo{{ metodo.id }}" class="collapse" data-parent="#accordion">
                                        {% if metodo.type == 'braintree' %}
                                            <form id="dropin-container" action="{{ router_service.getRoute("frontend.ecommerce.checkout.charge").build() }}" method="post">
                                                <input type="hidden" name="metodoDiPagamento" value="{{ metodo.id }}">

                                                <div id="payment-form"></div>
                                                <input type="submit" value="Paga adesso {{ totale }}" class="btn btn-secondary btn-block">
                                            </form>

                                            <script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>

                                            <script>



                                                var button = document.querySelector('#submit-button');
                                                var clientToken = "{{ token }}";


                                                braintree.setup(clientToken, "dropin", {
                                                    container: "payment-form"
                                                });



                                                /* function paga( payload ){

                                                 $.ajax({
                                                 url : "{{ router_service.getRoute("frontend.ecommerce.checkout.charge").build() }}",
                                                 data :
                                                 {
                                                 nonce : payload.nonce,
                                                 amount : {{ totale }}
                                                 }
                                                 });

                                                 }


                                                 braintree.dropin.create({
                                                 authorization: '{{ token }}',
                                                 container: '#dropin-container'
                                                 }, function (createErr, instance) {

                                                 $(button).on("click",function(){
                                                 instance.requestPaymentMethod(function (err, payload) {
                                                 // Submit payload.nonce to your server

                                                 paga( payload );

                                                 });
                                                 })

                                                 });
                                                 */

                                            </script>


                                        {% elseif metodo.type == 'stripe' %}
                                            <!-- <form action="{{ router_service.getRoute("frontend.ecommerce.checkout.charge").build() }}" method="POST">
                                                <input type="hidden" name="metodoDiPagamento" value="{{ metodo.id }}">
                                               <script
                                                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                        data-key="{{ stripeKey }}"
                                                        data-amount="{{ totale * 100 }}"
                                                        data-name="Stripe.com"
                                                        data-description="Widget"
                                                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                                        data-locale="auto"
                                                        data-zip-code="true">
                                                </script>

                                            </form>-->

                                            <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
                                            <hr>
                                            <div>
                                                {{ metodo.descrizione |raw }}
                                            </div>

                                            <form action="{{ router_service.getRoute("frontend.ecommerce.checkout.charge").build() }}" method="POST" id="payment-form">
                                                <input type="hidden" name="metodoDiPagamento" value="{{ metodo.id }}">

                                                <div class="form-group">
                                                    <label>Nome e cognome</label>
                                                    <input class="form-control" type="text" data-stripe="name" placeholder="{{ cliente.nome }} {{ cliente.cognome }}" value="{{ cliente.nome }} {{ cliente.cognome }}" maxlength="255" required />
                                                </div>


                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label>Numero carta</label>
                                                            <input class="form-control" type="text" data-stripe="number" placeholder="XXXXXXXXXXXXXXXX (senza spazi)" maxlength="16" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>CVC</label>
                                                            <input class="form-control" type="text" size="4" data-stripe="cvc" placeholder="123" maxlength="4" required />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Scadenza</label>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <input type="text" size="2" data-stripe="exp-month" class="form-control" placeholder="mese (XX)" maxlength="2" required />
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="text" size="4" data-stripe="exp-year" class="form-control" placeholder="anno (ZZ)" maxlength="2" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="emailAddress" value="{{ cliente.email }}" />

                                                <button type="submit" class="btn btn-secondary"><i class="fa fa-credit-card mr-3"></i> Paga subito {{ totale | price}}</button>

                                            </form>





                                        {% elseif metodo.type == 'paypal' %}

                                            <div id="paypal-button"></div>

                                            <form action="{{ router_service.getRoute("frontend.ecommerce.checkout.charge").build() }}" method="POST" id="paypal_form">


                                                <input type="hidden" name="metodoDiPagamento" value="{{ metodo.id }}">
                                                <input type="hidden" name="transaction_id" value="">
                                            </form>
                                            <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                                            <script>
                                                paypal.Button.render({
                                                    // Configure environment
                                                    env: 'production',
                                                    client: {
                                                        sandbox: '{{ sandbox_paypal_client_id }}',
                                                        production: '{{ production_paypal_client_id }}'
                                                    },
                                                    // Customize button (optional)
                                                    locale: 'it_IT',
                                                    style: {
                                                        size: 'small',
                                                        color: 'gold',
                                                        shape: 'pill',
                                                    },

                                                    // Enable Pay Now checkout flow (optional)
                                                    commit: true,

                                                    // Set up a payment
                                                    payment: function(data, actions) {
                                                        return actions.payment.create({

                                                            payment: {
                                                                transactions: [{
                                                                    amount: {
                                                                        total: '{{ totale }}',
                                                                        currency: 'EUR'
                                                                    }
                                                                }],
                                                                payer : {
                                                                    payer_info:{
                                                                        email : "{{ cliente.email }}",
                                                                        billing_address : {
                                                                            line1 : "{{ spedizione.formatToString() }}",
                                                                            city : "{{ spedizione.citta }}",
                                                                            country_code : "{{ spedizione.getCountryCode() }}",
                                                                            postal_code : "{{ spedizione.cap }}"
                                                                        }
                                                                    }
                                                                },
                                                                application_context : {
                                                                    brand_name : "Cartiamo",
                                                                    locale : "IT",
                                                                    shipping_preference: 'NO_SHIPPING'
                                                                }
                                                            }
                                                        });
                                                    },
                                                    // Execute the payment
                                                    onAuthorize: function(data, actions) {
                                                        return actions.payment.execute().then(function() {
                                                            // Show a confirmation message to the buyer
                                                            /* data


                                                             */
                                                            form = $("#paypal_form");


                                                            form.find('[name="transaction_id"]').val(data.paymentID);
                                                            form.submit();
                                                        });
                                                    }
                                                }, '#paypal-button');

                                            </script>

                                        {% else %}
                                            <hr>
                                            <div>
                                                {{ metodo.descrizione |raw }}
                                            </div>
                                            <form id="contrassegno-container" action="{{ router_service.getRoute("frontend.ecommerce.checkout.charge").build() }}" method="post">
                                                <input type="hidden" name="metodoDiPagamento" value="{{ metodo.id }}">
                                                <input type="submit" value="Effettua pagamento in bonifico" class="btn btn-secondary ">
                                            </form>
                                        {% endif %}



                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="col-md-4">
                    {% include "ecommerce/checkout/parti/riepilogo.twig" with { carrello:carrello }%}
                </div>

            </div>



        </div>


    </main>
{% endblock %}

{% block scripts %}


    <script type="text/javascript">

        var StripeErrors = {
            incorrect_number : "La carta inserita non è valida.",
            expired_card    :   "La carta inserita è scaduta",
            incorrect_cvc : "Non siamo riusciti a verificare il CVC, controlla per favore.",
            processing_error : "C'è stato un errore generico nel processare il pagamento.",
            card_declined   :   "La tua carta è stata rifiutata, prova con un altro metodo."
        }
        $(window).ready(function(){


            if(Stripe == undefined ) return;
            Stripe.setPublishableKey('{{ stripe }}');

            console.log('{{ stripe }}')

            $("#payment-form").on("submit",function (e) {
                e.preventDefault();
                onSubmitDo();
            })
            function onSubmitDo () {

                Stripe.card.createToken( document.getElementById('payment-form'), myStripeResponseHandler );

                return false;

            };
            function myStripeResponseHandler ( status, response ) {

                console.log( status );
                console.log( response );


                if ( response.error ) {
                    Alert.simple( StripeErrors[response.error.code]);
                } else {
                    var tokenInput = document.createElement("input");
                    tokenInput.type = "hidden";
                    tokenInput.name = "stripeToken";
                    tokenInput.value = response.id;
                    var paymentForm = document.getElementById('payment-form');
                    paymentForm.appendChild(tokenInput);
                    paymentForm.submit();
                }

            };
        })

    </script>


{% endblock %}