<!--<div class="pl-5">
        <h5 class="mt-5">{{ carrello.lineitems|length }} oggetti nel carrello</h5>
    {% for lineitem in carrello.lineitems %}


        <div class="row">
            <div class="col-5">

                <img src="{{ lineitem.prodotto.images[0].permalink }}">
            </div>

            <div class="col-7">
                <article>
                    <h3>{{ lineitem.prodotto.nome }}</h3>
                    <span>{{ lineitem.variant.sku}}</span><br>
                    <strong>{{ lineitem.variant.prezzo}}€</strong>
                </article>


            </div>
        </div>
    {% endfor %}

        <div class="">
            <a href="">Modifica carrello</a>
        </div>
</div>
-->
<div class="card mt-5 p-5">
    <div class="card-body">
        <h3>Riepilogo</h3>
    </div>
    <div class="card-body">
        <table class="table">
            {% for lineitem in carrello.lineitems %}
                <tr>
                    <td>
                        {{ lineitem.variant.sku }}
                    </td>
                    <td class="text-right">
                        {{ lineitem.quantity }}

                        X

                        {{ lineitem.single_price }}
                    </td>
                    <td class="text-right">
                        <strong>{{ lineitem.price_total }}</strong>
                    </td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="2" class="text-right">Subtotale</td>
                <td class="text-right">
                    <strong>{{ carrello.subtotale}}</strong>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="text-right">Spedizione {{ carrello.metodoDiSpedizione.nome}}</td>
                <td class="text-right">
                    <strong>{{ carrello.metodoDiSpedizione.prezzo}}</strong>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="text-right">Totale</td>
                <td class="text-right">
                    <strong class="h2">{{ carrello.totale}}</strong>
                </td>
            </tr>

        </table>
    </div>
</div>