
<div class="rect-nohover" ng-controller="Accordion">
    <h4 ng-click="toggleAccordion()"><i class="" ng-class="{'flaticon-up22' : open, 'flaticon-add133': !open}"></i> Inviti al party</h4>

    {% for invito in prodottoAggiuntivo %}
        <div ng-if="open"  class="item" data-relatedtype="invitation" data-relatedto="{{ prodotto.id }}" data-relatedid="{{ invito.id }}">
            <input type="hidden" value="{{ invito.id }}" class="product_id">
            <div class="text">
                <span class="title"><input type="checkbox" class="check_related"> {{ invito.name }}</span>
                <!--<span class="description">Incluso</span>-->
                ( + {{ invito.price.formatted_amount }}  cad.)<br><br>
                <div class="form-inputs inputs-float ">

                    <label>Scegli la quantita:</label>
                    <input type="text" class="form-control input-quantity" name="quantity" value="1">
                </div>
            </div>
            <br>
        </div >
    {% endfor %}

</div>