<div class="rect-nohover" ng-controller="Accordion">
    <h4 ng-click="toggleAccordion()"><i class="" ng-class="{'flaticon-up22' : open, 'flaticon-add133': !open}"></i> Montaggio</h4>

    {% for montaggio in prodottoAggiuntivo %}

    <div ng-if="open" class="item" data-relatedtype="mounting" data-relatedto="{{ prodotto.id }}" data-relatedid="{{ montaggio.id }}">

        <input type="hidden" value="{{ montaggio.id }}" class="product_id">
        <div class="text">
            <span class="title"><input type="checkbox" class="check_related"> {{ montaggio.name }}</span>
            ( + {{ montaggio.price.formatted_amount }} per ogni partecipazione)
        </div>

    </div>

    {% endfor %}

</div>