<div class="form-group {{ field.fieldsize ? field.fieldsize : '' }}">
    <label class=" form-control-label">{{ field.label ? field.label : property }}
    <br><small>{{ field.hint }}</small>
    </label>

    <div id='cp2'  class="input-group colorpicker-component" id="cp2" >
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-font"></i></span>
        </div>
        <input type="text" {% if field.isRequired() %} required="required" {% endif %} placeholder="{{ field.placeholder ? field.placeholder : 'Inserisci valore' }}" class="form-control  " name="{{ property }}" value="{{ field.value }}" maxlength="{{ field.maxlength }}">
        <span class="input-group-addon"><i></i></span>
    </div>
</div>

