<div class="form-group field-media {{ field.fieldsize ? field.fieldsize : '' }}">
    <label class="form-control-label">{{ property }}</label>
    <input type="text" class="form-control media-choser value-{{ property }}" placeholder="{{ field.placeholder ? field.placeholder : 'Inserisci valore' }}" class="form-control  " name="{{ property }}" value="{{ field.value }}">

</div>


<script>
    $(window).ready(function(){

        (function() {
            var mediabrowser = new MediaBrowser("#filebrowser");
            mediabrowser.fileChoose(function (file) {
                $(".media-choser.value-{{ property }}").val(file.permalink);
            });
            $(".media-choser.value-{{ property }}").on("focus", function (e) {
                e.preventDefault();
                mediabrowser.open();
            })
        })();
    });
</script>