<div class="form-group {{ field.fieldsize ? field.fieldsize : '' }}">
    <label class=" form-control-label">{{ field.label ? field.label : property }}
    {% if field.value != "" %}
    <br><small>{{ field.hint }}</small>
    {% endif %}
    </label>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-font"></i></span>
        </div>
        <input type="password" id="id_{{ property }}" placeholder="{{ field.placeholder ? field.placeholder : 'Inserisci valore' }}" class="form-control  " name="{{ property }}"
                {% if field.value == "" %}
                    required="required"
                {% endif %}
        >
    </div>
</div>