<div class="form-group">


    <label for="company" class=" form-control-label">{{ label ? label : property }}</label>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-font"></i></span>
        </div>


        <select name="{{ property }}" class="form-control" >
            {% for option in field.templateVar %}
                <option value="{{ option.value }}" {{ field.value == option.value ? "selected" :""}} >{{ option.label }}</option>
            {% endfor %}
        </select>
    </div>
</div>