<div class="form-group">
    <label for="company" class=" form-control-label">{{ field.label ? field.label : property }}
        <br><small>{{ field.hint }}</small>
    </label>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
        </div>
        <input type="text" id="user-token" placeholder="Enter your company name" class="form-control" name="{{ property }}" value="{{ field.value }}" data-initialtoken="{{ field.value }}">

        <div class="input-group-append">
            <button class="input-group-text " id="ripristina-token" ><i class="fas fa-home"></i> </button>
        </div>
        <div class="input-group-append">
            <button class="input-group-text btn btn-dark bg-dark text-white" id="rigenera-token"><i class="fas fa-refresh mr-2"></i> Rigenera token</button>
        </div>

    </div>
</div>

<script>
    (function(){
        function returnHash(){
            abc = "abcdefghijklmnopqrstuvwxyz1234567890".split("");
            var token="";
            for(i=0;i<32;i++){
                token += abc[Math.floor(Math.random()*abc.length)];
            }
            return token; //Will return a 32 bit "hash"
        }

        $("#rigenera-token").on("click",function (e) {
            e.preventDefault();

            $("#user-token").val(returnHash());

        })
        $("#ripristina-token").on("click",function (e) {
            e.preventDefault();
            $("#user-token").val( $("#user-token").attr("data-initialtoken") );
        })
    })()
</script>