{% extends template_extend %}
    {% block beforeContent %}
        <form action="{{ data.id ? router_service.getRoute(data.getEntity()~".update").build({id:data.id}) : router_service.getRoute(data.getEntity()~".insert").build() }}" class="form-mod" method="{{ data.id ? "PUT" : "POST" }}">
    {% endblock %}

{% block content %}




        <input value="{{ data.getEntity() }}" name="form_entity" type="hidden">
        {% if data.id %}
        <input value="{{ data.id }}" type="hidden" name="id">
        {% endif %}
        <div class="card">
         <div class="card-body">
        {% for field in fields %}
          {{ field|raw }}
        {% endfor %}


             {% block additionalFields %}{% endblock %}


             <button type="submit" class="btn btn-success" ><i class="fa fa-save"></i> Salva</button>



         </div>

        </div>


{% endblock %}

  {% block afterContent %}
        </form>
  {% endblock %}

{% block scripts %}

{% endblock %}
