{% extends "base/template.twig" %}

{% block content %}
    <main style="padding-top: 130px;">
        <div class="container">
            <div class="row">
                <div class="col-6">

                </div>
                <div class="col-6">
                    <h2>{{ prodotto.nome }}</h2>
                    <p>{{ prodotto.descrizione }}</p>

                    {% if prodotto.varianti|length > 1 %}

                        <form class="variante" method="post" action="/carrello/aggiungi">
                            {% for variante in prodotto.varianti %}


                                <input type="radio" name="id_variante" value="{{ variante.id }}"
                                {% for attributo in variante.attributi %}
                                    data-attribute{{ attributo.attributo.id }}="{{ attributo.valore.id }}"



                            {% endfor %}>
                            {% endfor  %}




                                    <span class="prezzo">{{ variante.prezzo }}</span>

                            <input type="text" name="quantita">
                                    <input type="submit" value="aggiungi">




                        </form>



                        <form class="scelta-attributi">
                            {#{% for attributo in attributi %}
                                <label>{{ attributo.attributo.nome }}</label>
                                <select name="{{ attributo.attributo.id }}" class="form-control">

                                    <option value="">...scegli</option>

                                    {% for valore in attributo.valori %}

                                        <option value="{{ valore.valore.id }}" {% if valore.attributoprecedentevalore %}
                                            data-idprec="{{ valore.attributoprecedenteid }}" data-valueprec="{{ valore.attributoprecedentevalore }}"
                                        {% endif %}>{{ valore.valore.valore }}</option>
                                    {% endfor %}

                                </select>
                            {% endfor %}
                            #}


                            {% for attributo in attributi %}
                                <label>{{ attributo.attributo.nome }}</label>
                                <select name="{{ attributo.attributo.id }}" class="form-control">

                                    <option value="">...scegli</option>

                                    {% for valore in attributo.valori %}

                                        <option value="{{ valore.valore.id }}"
                                                {% if valore.parents %}
                                                    {% for p in valore.parents %}
                                                        data-attribute{{ p[0] }}="{{ p[1] }}"
                                                    {% endfor  %}
                                                {% endif %}


                                                {% if valore.attributoprecedentevalore %}
                                            data-idprec="{{ valore.attributoprecedenteid }}" data-valueprec="{{ valore.attributoprecedentevalore }}"
                                                {% endif %}>{{ valore.valore.valore }}</option>
                                    {% endfor %}

                                </select>
                            {% endfor %}
                        </form>


                    {% else %}
                        {% set variante = prodotto.varianti[0] %}
                        <form class="variante">
                            <div class="prezzo">
                                {{ variante.prezzo }}
                            </div>
                        </form>
                    {% endif %}

                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block javascript_footer %}

    {{ parent() }}
    <script>
    (function( $ ){


        $('.scelta-attributi [data-idprec]').hide();

        $(document).on("change","form.scelta-attributi",function () {

            console.log( $(this).serializeArray());

            selettore = [];
            selettoreVariante = [];

            selettoreAttributi = [];
            selettoreNot =[];
            variante = null;
            $('.scelta-attributi [data-idprec]').hide();


            $(this).serializeArray().forEach(function( o , index){

                var s = '[data-attribute' + o.name +'="'+ o.value +'"]';

                selettoreVariante.push('[data-attribute' + o.name +'="'+ o.value +'"]' );

                if(o.value !="") {
                    selettoreAttributi.push('[data-attribute' + o.name +'="'+ o.value +'"]' );
                    selettoreNot.push('[data-attribute' + o.name+'][data-attribute' + o.name +'!="'+ o.value +'"]' );
                    selettore.push('[data-idprec="' + o.name + '"][data-valueprec="' + o.value + '"]');
                }
                $(selettoreAttributi.join("")).show();
                $(selettoreNot.join("")).hide();
                $( '[data-attribute' + o.name+'][data-attribute' + o.name +'!="'+ o.value +'"]' ).hide();

                /*
                selettoreVariante.push('[data-attribute' + o.name +'="'+ o.value +'"]' );
                if(o.value !="") {
                    selettoreAttributi.push('[data-attribute' + o.name +'="'+ o.value +'"]' );
                    selettore.push('[data-idprec="' + o.name + '"][data-valueprec="' + o.value + '"]');
                }*/

            });


            $(selettoreAttributi.join("")).show();


            $(selettoreVariante.join("")).prop("checked",true);






        })
    })(jQuery);
    </script>
{% endblock %}