<header class="main-header {{ headerClass }} always-fixed  ">

    <section class="navbar container">

                <a href="/" class="mr-auto">
                    <img class="logo" src="/assets/img/logo/logo-lab-white.png" alt="DivaniLab">
                    <img class="logo logo-black" src="/assets/img/logo/logo-lab.png" alt="DivaniLab">
                </a>
                <div class="actions">
                    <a href="#" class="toggle-menu"><i class="fas fa-bars"></i> </a>
                    <a href="#" class="toggle-menu close-toggle-menu"><i class="fas fa-chevron-up"></i> </a>
                    <a href="{{ router_service.getRoute("frontend.ecommerce.carrello").build() }}"><i class="fas fa-shopping-cart"></i></a>
                    <a href="{{ router_service.getRoute("frontend.ecommerce.carrello").build() }}"><i class="fas fa-user"></i></a>
                </div>

                <div id="mainmenu" class="container">


                    <nav>

                        <ul>
                            {% for item in frontend.menu.header.items %}
                                {% if item.label %}
                                    <li><a href="{{ item.link }}">{{ item.label }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% for item in frontend.menu.headerright.items %}

                                {% if item.items %}
                                    <li><a href="#">{{ item.nome }}</a>
                                        <ul class="submenu">
                                            {% for item in item.items %}
                                                <li><a href="{{ item.link }}">{{ item.label }}</a></li>
                                            {% endfor %}

                                        </ul>
                                    </li>

                                {% else %}
                                    <li><a href="{{ item.link }}">{{ item.label }}</a></li>
                                {% endif %}


                            {% endfor %}

                        </ul>

                    </nav>




        </div>

        <!-- Main menu -->

        <!-- //end Main menu -->

    </section>

    <!-- //end Navbar height -->
</header>

