{% extends template_extend %}
{% block content %}

    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">{{ title }}</strong>

                        <div class="list-actions float-right">

                            <a href="{{ router_service.getRoute(entity~".add").build(routeParams) }}" class="btn btn-sm btn-light btn-icon" data-toggle="tooltip" title="Aggiungi"><i class="fa fa-plus"></i></a>
                        </div>

                    </div>



                    <div class="card-body card-body-table">
                        <div class="table-responsive">
                            {% if data|length > 0 %}
                                <table id="bootstrap-data-table" class="table table-striped ">
                                    <thead>

                                    <tr>
                                        {#{% for v in data[0]|cast_to_array  %}
                                        <th>{{ v[0] }}</th>
                                        {% endfor %}#}

                                        {% for key,field in fields %}
                                            {% if field.isEditable() %}
                                                <th>{{ key }}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for item in data %}

                                    <tr>
                                        {% for v in item|cast_to_array  %}

                                                <td>
                                                    {% if item.schema()[v[0]].template == "media" %}
                                                        <div class="form-group field-media">
                                                            <input type="hidden" class="field-media-id" placeholder="Enter your company name" class="form-control" value="{{ v[1] }}">
                                                            <figure>
                                                                <img src="" class="field-media-img">
                                                            </figure>
                                                        </div>
                                                    {% else %}



                                                        <a href="{{ router_service.getRoute(item.getEntity()~".mod").build({id:item.id}) }}">
                                                            <div style="max-width: 300px;max-height: 1.5em;overflow: hidden;">
                                                                {% if v[1] is iterable %}
                                                                {%  elseif v[1] is string  %}
                                                                    {{ v[1] }}
                                                                {% endif %}
                                                            </div>
                                                        </a>

                                                    {% endif %}

                                                </td>

                                        {% endfor %}
                                    </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>

                            {% else %}
                                <h2>Nessun risultato</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->


{% endblock %}


{% block scripts %}
<script type="text/javascript">
    (function ($) {
        $(document).ready(function() {
            $('#bootstrap-data-table-export').DataTable();
        } );
    })(jQuery);

</script>
{% endblock %}
