{% extends template_extend %}
    {% block beforeContent %}


        <form data-redirect="" action="{{ data.id ? router_service.getRoute(data.getEntity()~".update").build({id:data.id}) : router_service.getRoute(data.getEntity()~".insert").build() }}" class="form-mod" method="{{ data.id ? "PUT" : "POST" }}">
    {% endblock %}

{% block content %}




        <input value="{{ data.getEntity() }}" name="form_entity" type="hidden">
        {% if data.id %}
        <input value="{{ data.id }}" type="hidden" name="id">
        {% endif %}
        <div class="card">
            <div class="card-header">

                {% if data.id %}
                <div class="mod-actions float-right">
                    <a href="" class="btn btn-sm btn-light btn-icon" data-toggle="tooltip" title="Clona"><i class="fa fa-plus"></i></a>
                    <a href="{{ router_service.getRoute(data.getEntity()~".delete").build({id:data.id})}}" class="btn btn-sm btn-light btn-icon" data-toggle="tooltip" title="Elimina"><i class="fa fa-trash"></i></a>
                    <a href="" class="btn btn-sm btn-light btn-icon" data-toggle="tooltip" title="Attiva o disattiva"><i class="fa fa-eye"></i></a>
                </div>
                {% endif %}
            </div>
         <div class="card-body">
        {% for field in fields %}
          {{ field|raw }}
        {% endfor %}


             {% block additionalFields %}{% endblock %}





         </div>

        </div>

        <div class="card">
            <div class="card-body">
                <button type="submit" class="btn btn-success" ><i class="fa fa-save"></i> Salva</button>
            </div>
        </div>

{% endblock %}

  {% block afterContent %}
        </form>
  {% endblock %}

{% block scripts %}

{% endblock %}
