
{% set img = '/assets/img/noimg.png' %}

{% if prodotto.featured_image.base_url %}
    {% set img = prodotto.featured_image.base_url %}
{% elseif prodotto.images|length > 0 %}
    {% set img = prodotto.images[0].base_url %}

    {% if prodotto.images[1] %}
        {% set img2 = prodotto.images[1].base_url %}
    {% endif %}
{% endif %}


<div class="product-preview-outer" itemscope itemtype="http://schema.org/Product">
    <div class="product-preview">
        <div class="preview">
            <div class="preview-image-outer">
                <a href="/{{ prodotto.slug }}" class="preview-image">
                    <img itemprop="image" class="img-responsive img-default"  alt="Partecipazione {{ prodotto.name }}" src="{{ img }}?w=300&fm=jpg&q=60" alt="">
                    <img class="img-responsive img-second" alt="{{ prodotto.description }}" src="{{ img2 }}?w=300&fm=jpg&q=60" alt=""></a>
            </div>
        </div>
        <h3 class="title"><a href="/{{ prodotto.slug }}">{{ prodotto.name }}</a></h3>

        <meta itemprop="name" content="{{ prodotto.name }}"/>
        <meta itemprop="brand" content="Cartiamo"/>



        <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
             <meta itemprop="priceCurrency" content="EUR" />
             <span itemprop="price">{{ prodotto.price.compare_at_amount }}</span>€
             <link itemprop="availability" href="http://schema.org/InStock"/>
          </span>
        <div class="info">
            <p itemprop="description">{{ prodotto.description }}</p>
        </div>
    </div>
</div>
