{% extends "base/template.twig" %}


{% block content %}
    <main class="checkout">
        {% include "ecommerce/checkout/parti/steps.twig" %}
        <div class="container">

            <div class="row">

                <div class="col-md-8">
                    <h2>Scegli il metodo ed effettua il pagamento</h2>

                    <div id="accordion">
                        {% for metodo in metodiDiPagamento %}
                            <div class="card mb-2">
                                <div class="card-body pl-4 pr-4">
                                    <div class="row" data-toggle="collapse" data-target="#metodo{{ metodo.id }}">
                                        <div class="col">
                                            <label>{{ metodo.nome }}</label>
                                        </div>
                                        <div class="col text-right">
                                            <strong>+ {{ metodo.prezzo }}€</strong>
                                        </div>
                                    </div>

                                    <div id="metodo{{ metodo.id }}" class="collapse" data-parent="#accordion">
                                        {% if metodo.type == 'braintree' %}
                                            <form id="dropin-container" action="{{ router_service.getRoute("frontend.ecommerce.checkout.charge").build() }}" method="post">
                                                <input type="hidden" name="metodoDiPagamento" value="{{ metodo.id }}">

                                                <div id="payment-form"></div>
                                                <input type="submit" value="Paga adesso {{ totale }}" class="btn btn-secondary btn-block">
                                            </form>
                                        {% endif %}

                                        {% if metodo.type == 'contrassegno' %}
                                            <p>
                                                Paga in contanti direttamente al corriere che ti consegnerà l'ordine. Questo pagamento prevede una maggiorazione di <strong>{{ metodo.prezzo}}€</strong> sul prezzo finale.
                                            </p>
                                            <form id="contrassegno-container" action="{{ router_service.getRoute("frontend.ecommerce.checkout.charge").build() }}" method="post">
                                                <input type="hidden" name="metodoDiPagamento" value="{{ metodo.id }}">
                                                <input type="submit" value="Effettua pagamento in contrassegno" class="btn btn-secondary btn-block">
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="col-md-4">
                    {% include "ecommerce/checkout/parti/riepilogo.twig" with { carrello:carrello }%}
                </div>

            </div>



        </div>




    </main>
{% endblock %}

{% block scripts %}

    <script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>

    <script>



        var button = document.querySelector('#submit-button');
        var clientToken = "{{ token }}";


        braintree.setup(clientToken, "dropin", {
            container: "payment-form"
        });



       /* function paga( payload ){

            $.ajax({
                url : "{{ router_service.getRoute("frontend.ecommerce.checkout.charge").build() }}",
                data :
                    {
                        nonce : payload.nonce,
                        amount : {{ totale }}
                    }
            });

        }


        braintree.dropin.create({
            authorization: '{{ token }}',
            container: '#dropin-container'
        }, function (createErr, instance) {

            $(button).on("click",function(){
                instance.requestPaymentMethod(function (err, payload) {
                    // Submit payload.nonce to your server

                    paga( payload );

                });
            })

        });
        */

    </script>

{% endblock %}