<div class="anteprima-prodotto">
    <div class="row img-bg">
        <div class="col">
            <img src="{{ prodotto.images[ index % 2 == 1 ? 0 : 1 ].permalink }}">
        </div>
        <div class="col">
            <img src="{{ prodotto.images[ index % 2 ].permalink }}">
        </div>
    </div>

    <section class="info">

            <div class="row">
                <div class="col-6">
                    <h2>{{ prodotto.nome }}</h2>
                    {{ prodotto.valoriCampi.riassunto.valore | raw }}

                </div>
                <div class="col-6">
                    {% if prodotto.variantePrimaria.prezzo_speciale %}
                        <span class="price">{{ prodotto.variantePrimaria.prezzo_speciale | price}}</span>
                        <span class="old-price">{{ prodotto.variantePrimaria.prezzo | price}}</span>
                    {% else %}
                        <span class="price">{{ prodotto.variantePrimaria.prezzo | price}}</span>
                    {% endif %}

                    <div class="azioni-veloci">
                        <a href="{{ router_service.getRoute("frontend.ecommerce.schedaprodotto").build({slug:prodotto.slug}) }}" class="btn btn-white btn-block mt-3">Vai alla scheda</a>
                    </div>
                </div>
            </div>

    </section>

</div>