<article class="product-thumbnail-preview">
    <a href="{{ router_service.getRoute("frontend.ecommerce.schedaprodotto").build({slug:prodotto.slug}) }}">
        <figure class="images">
            <img class="image-1" src="{{ prodotto.images[0].permalink }}">
            <img class="image-2" src="{{ prodotto.images[1].permalink }}">
        </figure>
    </a>
    <h3>{{ prodotto.nome }}</h3>
    <h4>{{ prodotto.varianti[0].prezzo }}</h4>
    <div class="descrizione">{{ prodotto.descrizione|raw }}</div>
</article>