<article class="product-thumbnail-preview card {% for categoria in prodotto.categories %} c-p-{{ categoria.slug }}{% endfor %}">


    <div class="row">
        <div class="col-md-5">
            <a href="{{ router_service.getRoute("frontend.ecommerce.schedaprodotto").build({slug:prodotto.slug}) }}">
                <figure class="images">
                    <img class="image-1" src="/resize/w=340{{ prodotto.immagini[1] }}">
                    <img class="image-2" src="/resize/w=340{{ prodotto.immagini[0]}}">
                </figure>
            </a>

        </div>
        <div class="col-md-7  ">
            <div class="card-body">
                <h3>{{ prodotto.nome }}</h3>
                {% if prodotto.variantePrimaria.prezzo_speciale %}
                    <span class="price">{{ prodotto.variantePrimaria.prezzo_speciale | price}}</span>
                    <span class="old-price">{{ prodotto.variantePrimaria.prezzo | price}}</span>
                {% else %}
                    <span class="price">{{ prodotto.variantePrimaria.prezzo | price}}</span>
                {% endif %}



                <div class="descrizione">{{ prodotto.valoriCampi.descrizione_breve.valore|raw }}</div>

                <div class="d-flex mt-3">
                    <a href="{{ router_service.getRoute("frontend.ecommerce.schedaprodotto").build({slug:prodotto.slug}) }}" class="btn btn-secondary">Vedi prodotto</a>


                    {% if prodotto.varianti|length == 1 %}
                    <a href="{{ router_service.getRoute("frontend.ecommerce.carrello.aggiungi.veloce").build({id : prodotto.variantePrimaria.id}) }}" class="btn btn-light ml-auto"><i class="fas fa-shopping-cart"></i> </a>
                    {% endif %}
                    <button type="button" class="btn btn-light "><i class="fas fa-star"></i> </button>
                </div>
            </div>
        </div>
    </div>



    <div class="badges">

        {% if prodotto.variantePrimaria.calculatePrice.sconto > 0  %}
        <div class="sconto">
            <span>-{{ prodotto.variantePrimaria.calculatePrice().sconto_perc}}%</span>
        </div>
        {% endif %}

    </div>
</article>